a href="http://wellington.govt.nz/" target="_blank"
  img.fixed-logo src="/images/WCC.png"

a href="http://www.neri.org.nz/" target="_blank"
  img.fixed-logo.second-logo src="/images/NERI.png"

a href="http://www.devacademy.co.nz/" target="_blank"
  img.fixed-logo.third-logo src="/images/enspiral_logo.png"

img.splash-image onmousedown="return false;" src="/images/landscape.svg"

.centered
  section.splash-content
    article
      h1 data-bind="text: heading"
      div data-bind="html: content"

      a class="button" data-bind="visible: !!button, text: button" href=guide_path
