h1 Livestock and their management

p Livestock is mainly cows and sheep, but also includes goats, horses, deer and pigs. From 2006-12, sheep numbers declined slightly, while cow numbers more than doubled.Greenhouse gas emissions include methane emissions from enteric fermentation and manure management, and nitrous oxide emissions from animal effluent. Emissions per animal have been steadily increasing since 1990.

h2 Level 1

p Level 1 assumes cow numbers increase by 2% per year, sheep numbers remain constant, and emissions per animal keep increasing at 0.7% per year.

h2 Level 2

p Level 2 assumes cow numbers increase by 1% per year, sheep numbers decline by 2% per year, and emissions per animal increase at a reduced rate of 0.4% per year after 2020.

h2 Level 3

p Level 3 assumes cow numbers remain constant, sheep numbers decline by 2% per year, and emissions per animal remain constant after 2020.

h2 Level 4

p At level 4 cow numbers decline by 2% per year, sheep numbers decline by 3% per year, and emissions per animal decrease by 0.7% per year after 2020.

figure
  = image_tag '/images/factsheets/agriculture-img.png', class: 'aligncenter', alt: 'Agriculture'
