h1 Biomass supply

p The Calculator has two levers controlling the supply of bioenergy. The ‘Biomass supply’ lever controls the gross supply before any conversion or other losses. We assume that Wellington did not import any bioenergy in 2012. 

h2 Level 1

Level 1 assumes no bioenergy imports.

h2 Level 2

p Level 2 assumes a national biomass supply of 72 PJ by 2050, based on use of biomass residues only. Wellington is allocated a per capita share. 

h2 Level 3

p Level 3 assumes a national biomass supply of 150 PJ by 2050, based on some dedicated wood energy plantations. Wellington is allocated a per capita share.

h2 Level 4

p Level 4 assumes a national biomass supply of 932 PJ by 2050, based on 3.3 million hectares of marginal land being converted to wood energy plantations (roughly double the area of the current plantation estate). Wellington is allocated a per capita share.

h2 Interaction with other choices

p The ‘Type of bioenergy’ lever allows the user to set a preference for whether the biomass supply is converted to biogas or liquid biofuels, or used as solid biomass. 

 
figure
  = image_tag '/images/factsheets/biomass-supply-img.png', class: 'aligncenter', alt: 'Biomass supply'
  