h1 Electricity imports from national grid

p In the Calculator, any electricity demand not met by local sources of supply (solar PV and biogas generation) is automatically balanced by imports from the national grid. The levels outlined on this page are for the emissions factor of electricity from the national grid, measured in kg CO2e /kWh. Data has been drawn from MBIE’s Electricity Insight scenarios. The emissions factor in 2012 was 0.162 kg CO2e / kWh. 

h2 Level 1

p Level 1 assumes that increased oil & gas exploration leads to cheaper prices and a preference for natural gas. The grid emissions factor falls slowly before increasing back to 0.17 kg CO2e / kWhin 2050. This is based on MBIE’s Low Cost Fossil Fuels Scenario.

h2 Level 2

p Level 2 assumes that the electricity mix moves to about 85% renewable by 2025 and then remains steady, with an emissions factor of 0.085 kg CO2e / kWhin 2050. This is based on MBIE’s Mixed Renewables Scenario.

h2 Level 3

p Level 3 assumes that the electricity mix moves to 90% renewable by 2025 and then remains steady, with an emissions factor of 0.053 kg CO2e / kWh) in 2050. This is based on MBIE’s Global Low Carbon Scenario.

h2 Level 4

p Level 4 follows Level 3 to 2025 and then assumes remaining gas generation can be eliminated by 2030 (100% renewable).The emissions factor is 0.023 kg CO2e / kWh in 2050, due to geothermal fugitive emissions.

figure
  = image_tag '/images/factsheets/electricity-imports-national-grid-img.png', class: 'aligncenter', alt: 'Electricity imports from national grid'
