h1 Forestry

p In 2012, Wellington City had an estimated 7,160 hectares of gorse and broom (with some woody biomass), 640 ha of grey scrub, 9 ha of manuka and/or kanuka, and 498 ha of pinus radiata.Total carbon sequestration was estimated at 60 kt CO2e.Carbon sequestration rates differ according to the type and age of an area of forest. When forest land is harvested or deforested, emissions are calculatedfrom the loss of stored carbon.

h2 Level 1

p At Level 1, native vegetation area remains constant. All pine plantations are harvested at maturity (assumed to be 30 years) and not replanted.

h2 Level 2

p By 2050, native vegetation area increases by 3 hectares per year. All pine plantations are replanted after harvesting to maintain a constant area.

h2 Level 3

p At level 3 native vegetation area increases by 6 hectares per year. All pine plantations are replanted after harvesting and an additional 8 hectares are planted per year.

h2 Level 4

p At level 4 native vegetation area increases by 9 hectares per year. All pine plantations are replanted after harvesting and an additional 15 hectares are planted per year.

figure
  = image_tag '/images/factsheets/forestry-img.png', class: 'aligncenter', alt: 'Forestry'
