h1 Solar panels for hot water

p Solar water heating systems (also known as ‘solar thermal’) use solar panels to warm water which is stored in a hot water cylinder. In 2012 an estimated 2% of Wellington households had solar hot water systems, with an assumed average panel area of 5.3m². 

h2 Level 1

p Level 1 assumes that 2% of Wellington households continue to have solar hot water. The non-residential sector introduces solar hot water which covers an area of 14,000 m² by 2050.

h2 Level 2

p Level 2 assumes that by 2050, 9% of Wellington households have solar hot water. It also assumes that other (nonresidential)installations total 35,000 m2. At this level solar thermal delivers around 60 GWh/yr of heat

h2 Level 3

p Level 3 assumes that by 2050, 28% of Wellington households have solar hot water and other (non-residential)installations total 52,500 m2.

h2 Level 4

p By 2050, 50% of Wellington households’ annual hot water demand is met by solar thermal.  Non-residential installations total 70,000 m2. Together level 4 delivers 242.9GWh/Y of heat energy

h2 Interaction with other choices

p Selecting level 4 on this lever at the same time as selecting level 4 on the ‘Solar panels for electricity’ lever may yield an unrealistic result, as the two will be competing for roof space. 

figure
  = image_tag '/images/factsheets/solar-panels-for-hot-water-img.png', class: 'aligncenter', alt: 'Solar panels for hot water'
