h1 Solar panels for electricity

p In 2012, Wellington City produced an estimated 2 GWh of electricity through the use of solar photovoltaic panels (‘solar PV’). This assumes 1.5% of households had solar PV panels, which covered an average area of 5.3 m² per household. The total area of solar PV panels on commercial buildings was assumed to be 1000 m².

h2 Level 1

p Level 1 assumes that the fraction of Wellington households with solar PV panels stays constant at 1.5%, while other non-residential installations total 15,000 m². This would more than triple the current amount of electricity produced by solar PV. 

h2 Level 2

p Level 2 assumes that by 2050, 11% of Wellington households have solar PV panels, and that other installations total 36,000 m2.

h2 Level 3

p Level 2 assumes that by 2050, 25% of Wellington households have solar PV panels and other installations total 53,500 m2.

h2 Level 4

p By 2050, 50% of Wellington households have solar PV panels and otherinstallations total 71,000 m2.

h2 Interactions with other choices

p Selecting level 4 on this lever at the same time as selecting level 4 on the ‘Solar panels for hot water’ lever may yield an unrealistic result, as the two will be competing for roof space. 

figure
  = image_tag '/images/factsheets/solar-panels-for-electricity-img.png', class: 'aligncenter', alt: 'Solar panels for electricity'
