h1 Waste processing

p This lever controls how much of the waste created is recycled, composted or diverted for energy production, and what proportion of methane is captured at landfills. Currently an estimated 4% of food waste and 40% of green waste are composted. There are no dedicated waste-to-energy facilities (e.g. anaerobic digestion) at present.  

h2 Level 1

p Level 1 assumes no increase in the fraction of waste recycled or composted, no waste-to-energy, and no increase in landfill gas capture.

h2 Level 2

p Level 2 assumes that food waste composting increases to 35% (due to kerbside organics collection) and all sewage sludge is diverted for anaerobic digestion from 2020. Landfill gas capture and use for energy increases gradually. 

h2 Level 3

p Level 3 assumes that 35% of food waste and all sewage sludge is diverted for anaerobic digestion from 2020. Landfill gas capture and use for energy increases gradually. 

h2 Level 4

p Level 4 assumes that 50% of food waste and all sewage sludge is diverted for anaerobic digestion from 2020. Landfill gas capture and use for energy increases to the assumed maximum by 2020.

h2 Interaction with other choices

p The ‘Waste volume’ lever controls how much waste is created. The ‘Use of local biogas’ lever controls whether this is used for electricity generation or to replace natural gas for non-electricity purposes.
 
figure
  = image_tag '/images/factsheets/waste-processing-img.png', class: 'aligncenter', alt: 'Waste processing'
  