h1 Waste volumes

p Biodegradable waste sent to landfill produces methane as it breaks down. If the methane can be captured (as it currently is at the Southern Landfill) it can be used for energy.  

h2 Level 1

p Level 1 assumes that waste volumes remain at current levels, and that sewage sludge volumes increase with population.

h2 Level 2

p Level 2 assumes that food waste is reduced by 21% from 2020, based on assumed impact of the proposed Love Food Hate Waste scheme. All other waste volumes stay the same as Level 1.

h2 Interaction with other choices

p The 'Waste processing' lever controls how much of the waste created is recycled, composted or diverted for energy production, and what proportion of biogas is captured at landfills. The ‘Use of local biogas’ lever controls whether this is used for electricity generation or to replace natural gas for non-electricity purposes.
 
figure
  = image_tag '/images/factsheets/waste-volumes-img-1.png', class: 'aligncenter', alt: 'Methane emissions'
  
figure
  = image_tag '/images/factsheets/waste-volumes-img-2.png', class: 'aligncenter', alt: 'Gross energy supply from captured biogas'
