h1 Electrification of commercial cooking

p Currently all lighting and most appliances are powered by electricity; for cooking there is a choice between gas and electricity. In 2012, an estimated 48% of commercial cooking was electrified, with the remaining 52% gas-powered.

p Commercial cooking energy demand is assumed to scale with population.

h2 Level 1

p Level 1 assumes that the cooking technology mix remains the same as in 2012.

h2 Level 2

p Level 2 assumes that by 2050 the share of commercial cooking powered by electricity increases to 60%.

h2 Level 3

p Level 3 assumes 75% of commercial cooking is electrified by 2050.

h2 Level 4

p Level 4 assumes that all cooking uses electricity by 2050.


figure
  = image_tag '/images/factsheets/commercial-cooking-electrification-img.png', class: 'aligncenter', alt: 'Electrification of commercial cooking'
  
 