h1 Commercial lighting and appliances

p This sector considers energy used for lighting and appliances (e.g. fridges, computers, televisions) within commercial and non-residential buildings, such as shops, hotels, offices, and schools.
Note that at all levels, energy demand for cooking is fixed and assumed to grow with population. Electrification of cooking is controlled by a separate lever.

p Excluding cooking, the electricity demand in 2012 is estimated at 58.4 kWh per square metre of floor space.

h2 Level 1

p Level 1 assumes that electricity demand per square metre of commercial floor space stays constant at the 2012 level.

h2 Level 2

p Level 2 assumes that electricity demand per square metre reduces at 0.15% per year (5.1% lower by 2050).

h2 Level 3

p Level 3 assumes that electricity demand per square metre reduces at 0.3% per year (10% lower by 2050).

h2 Level 4

p Level 4 assumes that electricity demand per square metre reduces at 0.6% per year (19% lower by 2050).


figure
  = image_tag '/images/factsheets/commercial-lighting-and-appliances-img.png', class: 'aligncenter', alt: 'Commercial lighting and appliances'
  
 