h1 Commercial heating technology

p This lever determines the mix of technologies to provide the commercial space and water heating demand. In 2012, we estimate that 53% of space heating was provided by electric heat sources (resistance heaters and heat pumps), 36% from gas heaters and boilers, and 11% from others. For water heating, 58% was electric, 32% gas, and the 10% from others.

h2 Level 1

p At level 1 the space and water heating technology mix is assumed to be unchanged from today.

h2 Level 2

p Level 2 assumes all new commercial buildings use electric space and water heating, primarily heat pumps.

h2 Level 3

p Level 3 assumes the same as Level 2, plus half of current non-electric heating is converted to heat pump. 

h2 Level 4

p Level 4 assumes all non-electric heating is converted to heat pumps by 2050.

figure
  = image_tag '/images/factsheets/commercial-heating-tech-img-1.png', class: 'aligncenter', alt: 'Commercial heating technology'
  
figure
  = image_tag '/images/factsheets/commercial-heating-tech-img-2.png', class: 'aligncenter', alt: 'Commercial heating technology'
 