h1 Domestic Navigation

p As it is for air travel, fuel consumption for marine travel is allocated equally between the destinations at the start and end of the journey. In 2012, Wellington accounted for 39.3 million litres of fuel oil and diesel used for ferries and shipping to other New Zealand destinations.

p This excludes international shipping, which is currently not accounted for in the Calculator (nor in Wellington and New Zealand’s greenhouse gas inventories).


h2 Level 1

p Level 1 assumes fuel consumption remains constant at the 2012 level.

h2 Level 2

p Level 2 assumes fuel consumption reduces 10% from the 2012 level by 2050.

h2 Level 3

p Level 3 assumes that fuel consumption reduces 20% from 2012 by 2050.

h2 Level 4

p Level 4 assumes that fuel consumption reduces 50% from 2012 by 2050.

h2 Interaction with other choices

p Biofuels can be chosen as a supply option.

figure
  = image_tag '/images/factsheets/domestic-navigation-img.png', class: 'aligncenter', alt: 'Domestic navigation'

  figcaption Energy demand for domestic navigation.
