h1 Domestic Aviation

p For air travel, fuel consumption is allocated equally between the destinations at the start and end of the journey. In 2012, Wellington accounted for 78.6 million litres of jet fuel used for flights within New Zealand.

p This excludes international travel, which is currently not accounted for in the Calculator (nor in Wellington and New Zealand’s greenhouse gas inventories). Fuel consumption for international air travel is likely to be less than 25% of that for domestic air travel.


h2 Level 1

p Level 1 assumes very limited efficiency gains, such that fuel consumption roughly doubles by 2050 in line with the expected increase in passenger arrivals.

h2 Level 2

p Level 2 assumes that fuel consumption remains constant from 2015, with efficiency gains offsetting passenger growth

h2 Level 3

p Level 3 assumes that fuel consumption reduces 10% from 2015 by 2050.

h2 Level 4

p Level 4 assumes that fuel consumption reduces 25% from 2015 by 2050.

h2 Interaction with other choices

p Biofuels can be chosen as a supply option.

figure
  = image_tag '/images/factsheets/domestic-aviation-img.png', class: 'aligncenter', alt: 'Domestic aviation'

  figcaption Energy demand for domestic aviation (GWh/yr).
