h1 Electrification of public transport

p In 2012, an estimated 14% of bus passenger-kilometres were travelled on electric trolley buses, and 86% were travelled on diesel buses. For train travel, an estimated 82% of passenger-kilometres were travelled on electric trains and 18% on diesel trains.

h2 Level 1

p Level 1 assumes that the trolley buses are replaced by conventional diesel buses by 2020, and no further changes occur to 2050.

h2 Level 2

p Level 2 assumes that more efficient hybrid buses (which have a diesel engine and an electric motor) begin to be phased in before 2020, followed by pure electric buses. In 2050, 37% of bus travel is on hybrids and 63% on pure EVs.

h2 Level 3

p Level 3 assumes the bus fleet begins to transition to pure EVs immediately, reaching 100% electric from 2035. Diesel train lines are also converted to electricity in 2030.

h2 Level 4

p Level 4 assumes the same as Level 3 for buses, and that diesel trains are converted to electricity in 2025.

h2 Interaction with other choices

p Other transport levers determine how much travel is done by public transport. Changes in the efficiencies of the different vehicle types are determined by the vehicle efficiency lever. Biofuels are chosen separately as a supply option.


figure
  = image_tag '/images/factsheets/electrification-pt-img.png', class: 'aligncenter', alt: 'Electrification of public transport'
  