h1 Electrification of light vehicles

p In 2012, almost all light vehicles were powered by petrol and diesel. These can be replaced by pure electric vehicles (e.g. Nissan Leaf), or plug-in hybrids (e.g. Mitsubishi Outlander) which run on batteries that can be charged from the mains, but use a petrol-electric generator to extend the range.

h2 Level 1

p Level 1 assumes that by 2050, 4% of car travel is done in plug-in hybrids and 2% in pure EVs.

h2 Level 2

p Level 2 assumes that by 2050, 16% of car travel is done in plug-in hybrids and 8% in pure EVs.

h2 Level 3

p Level 3 assumes that by 2050, 30% of car travel is done in plug-in hybrids and 16% in pure EVs.

h2 Level 4

p Level 4 assumes that by 2050, 20% of car travel is done in plug-in hybrids and 80% in pure EVs.

h2 Interaction with other choices

p Other transport levers determine how much travel is done by light vehicle. Changes in the efficiencies of the different vehicle types are determined by the vehicle efficiency lever. Biofuels are chosen separately as a supply option.


figure
  = image_tag '/images/factsheets/electrification-light-vehicles-img-1.png', class: 'aligncenter', alt: 'Proportion	of	light	vehicle	travel	by	technology'
  
figure
  = image_tag '/images/factsheets/electrification-light-vehicles-img-2.png', class: 'aligncenter', alt: 'Energy	demand	for	passenger	transport'
  