h1 Freight Volume

p In 2012, the total movement of goods by road and rail attributed to Wellington is estimated at 450 million tonne-kilometres. Freight volume will be influenced by the level of material consumption in Wellington and goods produced for export.

h2 Level 1

p Level 1 assumes that freight volume (in tonne-kilometres) increases by 65% by 2050. This is a per capita increase of 25%.

h2 Level 2

p Level 2 assumes that freight volume increase by 43% by 2050. This is a per capita increase of 8.5%.

h2 Level 3

p Level 3 assumes that freight volume grows 10% to 2050.

h2 Level 4

p Level 4 assumes that freight volume decreases by 23% by 2050 before plateauing. This is a per capita decline of 42%.

h2 Interaction with other choices

p The share of land freight moved by road versus rail and the energy efficiency of each mode is set with the ‘mode and efficiency’ lever. Sea freight is included in the marine transport sector, as we assume it is not in direct competition with road and rail in Wellington’s location. Biofuels can be chosen as a supply option.

figure
  = image_tag '/images/factsheets/freight-volume-img.png', class: 'aligncenter', alt: 'Freight volume'

  figcaption ￼Energy demand for road & rail freight, assuming Level 1 on mode & efficiency (GWh/yr).
