h1 Household heating technology

p This lever determines the mix of technologies to provide the household space and water heating demand. In 2012, we estimate that 66% of space heating was provided by electric heat sources (resistance heaters and heat pumps), 15% from gas, and 19% from other sources. For water heating, 79% was electric, 20% gas, and 1% from others.

h2 Level 1

p At level 1 the space and water heating technology mix remains unchanged from today.

h2 Level 2

p Level 2 assumes that all new houses use heat pumps for space heating and electricity for water heating (50% of which is heat pumps).

h2 Level 3

p As per Level 2, plus half of all current non-electric heating is converted to heat pumps.

h2 Level 4

p Level 4 assumes that all non-electric heating is converted to heat pumps by 2050.

h2 Interaction with other choices

Solar hot water is specified separately and used first in the model.

figure
  = image_tag '/images/factsheets/household-heating-tech-img-1.png', class: 'aligncenter', alt: 'Proportion	of	household	water	heating	demand	provided'
  
 figure
  = image_tag '/images/factsheets/household-heating-tech-img-2.png', class: 'aligncenter', alt: 'Proportion	of	household	space heating	demand	provided'
