h1 Electrification of home cooking

p Currently all lighting and most appliances are powered by electricity; for cooking there is a choice between gas and electricity. In 2012, an estimated 68% of domestic cooking was electrified, with the remaining 32% gas-powered. Domestic cooking energy demand is assumed to scale with the number of households.

h2 Level 1

p Level 1 assumes that the cooking technology mix remains the same as in 2012.

h2 Level 2

p Level 2 assumes that all newly built homes use electric cooking. In total, the share of domestic cooking powered by electricity increases to 75%.

h2 Level 3

p Level 3 assumes that all new homes and half of existing homes use electric cooking by 2050. In total, the share of domestic cooking powered by electricity increases to 88%. 

h2 Level 4

p Level 4 assumes that all cooking uses electricity by 2050. 

figure
  = image_tag '/images/factsheets/household-cooking-electrification-img.png', class: 'aligncenter', alt: 'Energy	demanded	by	home	lighting	and	appliances'
 