h1 Growth in industry

p Industry encompasses manufacturing as well as the primary industries. In 2012, industry in Wellington consumed an estimated 735.2 GWh of electricity, 43.7 GWh of liquid hydrocarbons and 248.2 GWh of gaseous hydrocarbons. 

p In the 2050 Calculator the industrial sector’s future energy use is determined by two factors: change in output (described here) and energy intensity (described on another page). The changes here represent different choices for Wellington’s future economy rather than an increasing scale of effort. They can’t be compared with the Levels 1-4 in other sectors and have therefore been labelled as Trajectories A-C. 

h2 Trajectory A

p Wellington industry expands, with output growing at 2% per year in terms of real (i.e. inflation-adjusted) GDP. Total output therefore more than doubles by 2050.

h2 Trajectory B

p Wellington industry expands moderately, with output growing at 0.5% per year. Total output is therefore 20% higher in 2050.

h2 Trajectory C

p Wellington industry shrinks with a shift to a more service-based economy. Output declines at 1% per year, leading to a total decline of 30% by 2050. 


figure
  = image_tag '/images/factsheets/industry-growth-img.png', class: 'aligncenter', alt: 'Industrial	energy	demand'
 