h1 Household heating demand

p In 2012, the average Wellington household used an estimated 3,150 kWh of heat for space heating and 2,950 kWh for water heating.  

h2 Level 1

p Level 1 assumes that, from 2015, space heating demand per household grows at 0.1% per year (3.6% higher by 2050). Water heating demand per household remains constant.

h2 Level 2

p Level 2 assumes that, from 2015, space heating and water heating demand per household reduce at 0.1% per year (3.4% lower by 2050) and 0.2% per year (6.8% lower by 2050) respectively.

h2 Level 3

p Level 3 assumes that, from 2015, space heating and water heating demand per household reduce at 0.2% per year (6.8% lower by 2050) and 0.4% per year (13% lower by 2050) respectively.

h2 Level 4

p Level 3 assumes that, from 2015, space heating and water heating demand per household reduce at 0.4% per year (13% lower by 2050) and 0.8% per year (25% lower by 2050) respectively.

h2 Interaction with other choices

p This lever sets the demand for the (end-use) heat, which is influenced by factors such as insulation of homes and water cylinders, as well as behaviour. The mix of heating technologies (e.g. heat pumps, gas burners) used to provide the heat demand is chosen with the ‘Heating technology’ lever. Solar hot water uptake is chosen separately as a supply option. Note that different technologies will use different amounts of input energy to provide 1 kWh of heat. For example, an open fire is only 10% efficient, while a heat pump provides around 3.8 kWh of heat for each kWh of electricity used.


figure
  = image_tag '/images/factsheets/space-and-water-img.png', class: 'aligncenter', alt: 'Household heating demand'
  