h1 Travel demand

p In 2012, the average travel per Wellington resident (by car, bus, train, bike and foot) is estimated at 12,500 km. Demand for travel is influenced by factors including urban form, digital technology and behaviour.  

h2 Level 1

Level 1 assumes that per capita travel demand increases, with the average person travelling 27% more by 2050.

h2 Level 2

p Level 2 assumes that per capita travel demand stays about the same, with the average person travelling 2% less by 2050. 

h2 Level 3

p Level 3 assumes that per capita travel demand decreases, with the average person travelling 19% less by 2050.

h2 Level 4

p Level 4 assumes that per capita travel demand decreases heavily, with the average person travelling 40% less by 2050.

h2 Interaction with other choices

p In the Calculator, energy demand for passenger transport is determined by multiple factors: travel demand (described here); mode share (determined by the public transport and active transport levers); vehicle occupancies; electrification of vehicles (with separate levers for private vehicles and public transport); and vehicle fuel efficiencies. Travel in and out of Wellington by plane and ferry are dealt with separately. Biofuels can be chosen as a supply option.

figure
  = image_tag '/images/factsheets/travel-demand-img.png', class: 'aligncenter', alt: 'Travel demand'
  