h1 Vechicle occupancy

p In 2012, the average number of passengers per car, bus and train were estimated at 1.54, 25 and 104 respectively. Train occupancies are assumed not to change at all levels.

h2 Level 1

p Level 1 assumes the average number of passengers per vehicle stays at current levels to 2050 for all modes.

h2 Level 2

p Level 2 assumes that the average number of passengers per bus increases to 40 from 2020 onward, due to the introduction of higher capacity buses. No change in car occupancy.

h2 Level 3

p Level 3 assumes the same increase in bus occupancy as Level 2, and that increased ridesharing raises the number of passengers per car to 2.5 by 2040 before plateauing.

h2 Level 4

p Level 4 assumes that bus occupancy continues increasing to 60 by 2050, while car occupancy increases faster to hit 2.5 by 2035, before plateauing.

h2 Interaction with other choices

p In the Calculator, energy demand for passenger transport is determined by multiple factors: travel demand; mode share (determined by the public transport and active transport levers); vehicle occupancies (described here); electrification of vehicles (with separate levers for private vehicles and public transport); and vehicle fuel efficiencies. Travel in and out of Wellington by plane and ferry are dealt with separately. Biofuels can be chosen as a supply option.


figure
  = image_tag '/images/factsheets/vechicle-occupancy-img.png', class: 'aligncenter', alt: 'Vechicle occupancy'
  